<h1>Create</h1>
<h4>Making things work</h4>

<form>
  <div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Movie" formControlName="Movie" type="text"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Scene" formControlName="Scene" type="text"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Product Name" formControlName="Product Name" type="text"/>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput placeholder="Seller" formControlName="username" type="text"/>
      </mat-form-field>
    </div>
  </div>
  <button mat-raised-button class="nav-btn" color="accent">Create</button>
</form>
