<mat-toolbar color="primary" class="mat-elevation-z4">
  <span>
    <mat-icon>movie</mat-icon>
    Iridium
  </span>
  <button mat-button routerLink="/landing-page">Landing Page</button>
  <button mat-button routerLink="/add-movies">Add Movies</button>
  <button mat-button routerLink="/add-products">Add Products</button>
  <button mat-button routerLink="/splash">Splash</button>
  <button mat-button routerLink="/add-users">Add Users</button>
  <button mat-button routerLink="/" (click)="onSubmit()">Logout</button>
</mat-toolbar>
