<h1>Add a Movie</h1>
<hr />

<form class="movie-form" (ngSubmit)="onSubmit()" [formGroup]="_movieForm">
  <div>
    <mat-form-field class="add-movie-title">
      <input matInput id="movieNameField" placeholder="Movie title" value="" formControlName="title" type="text" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="add-studio">
      <input matInput placeholder="Production company" formControlName="productionCompany" type="text" />
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <mat-select placeholder="Genre" formControlName="genre">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary" type="submit">Add Movie</button>
</form>

<hr />
<app-view-movies></app-view-movies>