<mat-grid-list cols="2" rowHeight="900px">
    <mat-grid-tile>
        <div>
            <app-register [dontShow]="showHide"></app-register>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <app-login></app-login>
            <button mat-raised-button class="nav-btn" id="click" color="accent" type="button" label="Click" (click)="changeShowStatus()">click</button>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile>
    </mat-grid-tile>
</mat-grid-list>